.action_button::before {
    content: '\e827';
    font-family: "mfn-icons";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 10px;
}

a.action_button {
    padding-left: 30px;
    transition: all .3s ease-in-out;
}