/************************************************** MOBILE PHONE CTA **/
#mobile-phone-cta {
    display: block;
    position: fixed;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 44px;
    z-index: 9999;
    background-color: #E87C24;
    padding: 0 !important;
    -webkit-box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
}

#mobile-phone-cta a {
    display: block;
    height: 44px;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    padding-top: 8px;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

#mobile-phone-cta > div > div {
    padding-top: 0 !important;
}

#mobile-phone-cta a:hover {
    background-color: black;
    color: #fff;
}

#mobile-phone-cta a i {
    font-size: 13px;
    padding-right: 8px;
}

@media screen and (min-width:640px) {
    #mobile-phone-cta {
        display: none;
    }
}